<div>
  <%= flash[:notice] %>
</div>

<h1>Editing Book</h1>
<!--エラー発生時のコメント-->
  <% if @book.errors.any? %>
    <div class="error-box">
      <h4 class="error-title"><%= @book.errors.count %> errors prohibited this book from being saved:</h4>
      <ul>
        <% @book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div>
  <%= form_with model: @book do |f| %>
    <div class="edit-item">
      <p>Title</p><%= f.text_field :title %>
    </div>
    <div class="edit-item">
      <p>Body</p><%= f.text_area :body %>
    </div>
    <div class="edit-item">
      <%= f.submit "Update Book" %>
    </div>
    <div class="edit-item">
        <%= link_to "Show", book_path(@book.id) %>
        |
        <%= link_to "Back", books_path %>
    </div>
  <% end %>
</div>
