<h1>Editing Book</h1>
<div>
  <%= form_with model: @book, url: update_book_path(@book.id), method: :patch do |f| %>
    <div class="edit-item">
      <p>Title</p><%= f.text_field :title %>
    </div>
    <div class="edit-item">
      <p>Body</p><%= f.text_area :body %>
    </div>
    <div class="edit-item">
      <%= f.submit "Update Book" %>
    </div>
    <div class="edit-item">
        <%= link_to "Show", book_path(@book.id) %>
        |
        <%= link_to "Back", books_path %>
    </div>
  <% end %>
</div>
