<h1>Books</h1>
<div>
  <% @books.each do |book| %>
  <table>
    <thed>
      <tr>
        <th>Title</th>
        <th>Body</th>
        <th></th>
      </tr>
    </thed>
    <tboby>
      <tr>
        <td><%= book.title %></td>
        <td><%= book.body %></td>
        <td></td>
      </tr>
    </tboby>
  </table>
  <% end %>
</div>

<!--formを作成、Bookモデルと連携-->
<div class="form-area">
  <h2>New book</h2>
  <%= form_with model: @book, url: '/books', method: :post do |f| %>
    <div class="new-book">
      <p>Title</p><%= f.text_field :title %>
    </div>
    <div class="new-book">
      <p>Body</p><%= f.text_area :body %>
    </div>
    <div class="new-book">
      <%= f.submit " Create Book " %>
    </div>
  <% end %>
</div>
