<h1>Books</h1>
<div>
  <table>
    <thaed>
      <tr>
        <th class="table-head-item">Title</th>
        <th class="table-head-item">Body</th>
        <th></th>
      </tr>
    </thaed>
    <tboby>
      <% @books.each do |book| %>
      <tr>
        <td class="table-body-item"><%= book.title %></td>
        <td class="table-body-item"><%= book.body %></td>
        <td class="table-body-item"><span><%= link_to "Show", book_path(book.id) %></span></td>
        <td class="table-body-item"><span><%= link_to "Edit", edit_book_path(book.id) %></span></td>
        <td class="table-body-item"><span><%= link_to "Destroy", destroy_book_path(book.id), method: :delete, data: {confirm: "Are you sure?"} %></span></td>
      </tr>
      <% end %>
    </tboby>
  </table>
</div>

<!--formを作成、Bookモデルと連携-->
<div class="form-area">
  <h2>New book</h2>
<!--エラー発生時のコメント-->
  <% if @book.errors.any? %>
    <div class="error-box">
      <h4 class="error-title"><%= @book.errors.count %> errors prohibited this book from being saved:</h4>
      <ul>
        <% @book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<!--フォーム-->
  <%= form_with model: @book, url: '/books', method: :post do |f| %>
    <div class="new-book">
      <p>Title</p><%= f.text_field :title %>
    </div>
    <div class="new-book">
      <p>Body</p><%= f.text_area :body %>
    </div>
    <div class="new-book">
      <%= f.submit " Create Book " %>
    </div>
  <% end %>
</div>
