<h1>Books</h1>
<div>
  <table>
    <thaed>
      <tr>
        <th class="table-head-item">Title</th>
        <th class="table-head-item">Body</th>
        <th></th>
      </tr>
    </thaed>
    <tboby>
      <% @books.each do |book| %>
      <tr>
        <td class="table-body-item"><%= book.title %></td>
        <td class="table-body-item"><%= book.body %></td>
        <td class="table-body-item"><span><%= link_to "Show", book_path(book.id) %></span></td>
        <td class="table-body-item"><span><%= link_to "Edit", edit_book_path(book.id) %></span></td>
        <td class="table-body-item"><span><%= link_to "Destroy", destroy_book_path(book.id), method: :delete %></span></td>
      </tr>
      <% end %>
    </tboby>
  </table>
</div>

<!--formを作成、Bookモデルと連携-->
<div class="form-area">
  <h2>New book</h2>
  <%= form_with model: @book, url: '/books', method: :post do |f| %>
    <div class="new-book">
      <p>Title</p><%= f.text_field :title %>
    </div>
    <div class="new-book">
      <p>Body</p><%= f.text_area :body %>
    </div>
    <div class="new-book">
      <%= f.submit " Create Book " %>
    </div>
  <% end %>
</div>
